.navbar {
    background-color: coral;
}

#quem_somos {
    background-color: lightblue;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

body {
    font-family: verdana;
}

.parceiros{
    background-color: coral;
}

.servicos{
    background-color: lightblue;
}

.bg-footer{
    background-color: coral;
    color: white;
}